@import 'comunes';

.landing_c1-l1 {
    .bg-rayas {
        background-image: url(../media/bg-rayas.jpg);
    }
}
.logo-top {
    margin-bottom:125px;
}

.img--smartphone {
    width: 100%;
    margin-left: 30px;
    height: max-content;
}
.img--smartphone-2 {
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
    background-image: url("../media/c1-l1-smartphone-2.png");
    background-size: 417px;
    background-position: center 75px;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .logo-top {margin-bottom:30px;}
    .img--smartphone {margin: 20px 0;}
    .img--smartphone-2 { background-size: 90%;background-position: center 15px;min-height: 118vw;}
}